<div class="container-fluid">
     <div class="row faqs-title">
         Rates
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-xs-6 col-xs-offset-3">
                <h1>GoCar City Range</h1>
            </div>
            <div class="col-xs-8 col-xs-offset-2" ng-mouseenter="cityRangeEnter()" ng-mouseleave="cityRangeLeave()">
                <img src="../images/cityrange.png" id="cityrange" />
            </div>
            <div class="col-xs-12 range-info">
                <h3>City range is made up of Ford Fiesta’s, Hyundai i10’s and i20’s.</h3>
                <h3>All GoCities are manual transmission.</h3>
                <h3>All GoCities are fueled by petrol.</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-xs-7 col-xs-offset-3">
                <h1>GoCar Tripper Range</h1>
            </div>
            <div class="col-xs-8 col-xs-offset-2" ng-mouseenter="tripperRangeEnter()" ng-mouseleave="tripperRangeLeave()">
                <img src="../images/tripperrange.png" id="tripperrange" />
            </div>
            <div class="col-xs-12 range-info">
                <h3>GoTrippers are made up of Ford Focus’s, Hyundai i30’s.</h3>
                <h3>GoTrippers are manual transmission.</h3>
                <h3>All GoTrippers are fueled by diesel.</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-xs-6 col-xs-offset-3">
                <h1>GoCar Van Range</h1>
            </div>
            <div class="col-xs-8 col-xs-offset-2" ng-mouseenter="vanRangeEnter()" ng-mouseleave="vanRangeLeave()">
                <img src="../images/vanrange.png" id="vanrange" />
            </div>
            <div class="col-xs-12 range-info">
                <h3>GoVans are made up of Ford Transit Connects</h3>
                <h3>All GoVans are manual transmission.</h3>
                <h3>All GoVans are fueled by diesel</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-target="#city" data-toggle="tab">GOCAR CITY RANGE</a></li>
                    <li><a data-target="#tripper" data-toggle="tab">GOCAR TRIPPER RANGE</a></li>
                    <li><a data-target="#van" data-toggle="tab">GOCAR VAN RANGE</a></li>
                </ul>

                <div class="tab-content">
                  <div id="city" class="tab-pane fade in active">
                    <p class="gocar-tab"><span class="euro-sign">€</span>4.99<span class="euro-sign"> / hour</span></p>
                  </div>
                  <div id="tripper" class="tab-pane fade">
                    <p class="gocar-tab"><span class="euro-sign">€</span>5.99<span class="euro-sign"> / hour</span></p>
                  </div>
                  <div id="van" class="tab-pane fade">
                    <p class="gocar-tab"><span class="euro-sign">€</span>7.99<span class="euro-sign"> / hour</span></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>